<div class="app">
    <header>
        <h1>TODO APP</h1>
    </header>
</div>
<div>
   
    
    <!-- <form (submit)="addTask()"> -->

        <!-- <input type="text" placeholder="enter todo.." name="inputTodo" [(ngModel)]="inputTodo" /> -->
        <!-- <input type="submit" value="add task" class="todo-submit" /> -->
    <!-- </form> -->
    <input type="text" placeholder="enter the task" #task>
    <button type="button" (click)="addTask(task.value)">Add New Task</button>
 

</div>
<div class="todos" *ngFor="let todo of todos;let i =index;" class="todo {{(todo.completed?'done':'')}}">
    <div class="id">{{i+1}}{{todo}}</div>
    <div class="task" (click)="toggleTask(i)">{{todo.task}}</div>
    <button type="button" class="btn btn-primary" (click)="deleteTask(i)">Remove</button>

</div>